In [1]:
from dotenv import load_dotenv

load_dotenv();

# Allocation

In [2]:
from db_manager.allocation import create_allocation_dataframe

allocation = create_allocation_dataframe()

In [9]:
from db_manager.allocation import (
    create_allocation_table,
    create_allocation_dataframe,
    insert_into_allocation_table
)

create_allocation_table()
_allocation = create_allocation_dataframe()
insert_into_allocation_table(_allocation)

# Dividends

In [6]:
from db_manager.dividend import create_dividend_table, update_dividends

create_dividend_table()
update_dividends(allocation)

SNPS
Stock SNPS pays no dividend.
PL
Stock PL pays no dividend.
JNJ
KO
NEE
SNOW
Stock SNOW pays no dividend.
SPGI
TSLA
Stock TSLA pays no dividend.
APD
PG
XOM
ITW
HCP
Stock HCP pays no dividend.
ABT
MCD

# Income statement

In [3]:
from db_manager.income_statement import create_income_statement_table, update_income_statement

create_income_statement_table()
update_income_statement(allocation)

SNPS
PL
JNJ
KO
NEE
SNOW
SPGI
TSLA
APD
PG
XOM
ITW
HCP
ABT
MCD

# Info

In [8]:
from db_manager.info import create_info_table, update_info

create_info_table()
update_info(allocation)

SNPS
PL
JNJ
KO
NEE
SNOW
SPGI
TSLA
APD
PG
XOM
ITW
HCP
ABT
MCD

In [9]:
allocation

   SYMBOL   QUANTITY  AVERAGE_PRICE RECORD_DATE
0    SNPS   0.072072     555.002095  2024-02-22
1      PL  18.433130       2.170006  2024-02-22
2     JNJ   0.253244     157.950435  2024-02-22
3      KO   0.665223      60.130212  2024-02-22
4     NEE   0.713010      56.100195  2024-02-22
5    SNOW   0.183798     217.630580  2024-02-22
6    SPGI   0.087368     457.831436  2024-02-22
7    TSLA   0.208138     192.180557  2024-02-22
8     APD   0.186976     213.930628  2024-02-22
9      PG   0.250422     159.730439  2024-02-22
10    XOM   0.393390     101.680266  2024-02-22
11    ITW   0.156525     255.550721  2024-02-22
12    HCP   1.728604      23.140060  2024-02-22
13    ABT   0.353418     113.180298  2024-02-22
14    MCD   0.139116     287.530865  2024-02-22